body {
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient( rgb(248, 214, 240), rgb(216, 7, 235));
}
/* Styling for the MAIN section of the page */
main {
    margin-left: 5%; 
    margin-right: 5%; 
    width: 90%;
} 

/* Styling for HEADER section which includes the navigation tabs/bar */
#header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(104, 9, 104);
    margin: auto;
    color: white;
    height: 100px;
    text-decoration-line: underline;

}

/* moved h1 header over from the left */
header h1{
    margin-left: 30px;
}

/* Styling for header nav */
header nav{
     margin-right: 10px;
  
}


/* Styling for MY-IMAGE section */
#my-image {
    display: flex;
    float: inline-end;
    background-image: url(./images/color\ patterns.jpg);
}

/* Styling for ID = MY-PIC parameters are based on "main" section area */
.my-pic{
    width: 20%;
    height: 20%;
} 

/* Styling for all sections */
section{
    display: flex;
    justify-content: center;
   
    
}


/* Styling for the ABOUT ME and history sections. */
#about-me, #work-history, #work-history2  {
    width: 85%;
    margin: none;
}

/* About Me and Work History Headings */
.about, .history, .history2, .projects h3 {
    width: 25%;
    text-align: left;
}

.history2 h3
{
    display: none;
}

/* Styling for the DIV inside the about me section */
/* #about-me div {
     height: 300px;
     width: 70%; 
     text-align: center;
}  */

/* Styling for the div in the about me section */  
#about-me div  {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    margin-bottom: 40px;
    text-align: justify;
}
#about-me p {
    display: flex;
}

/* Styling for the sentences between each section */
p{
    text-align: center;
}

.between {
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;

}

/* Styling for text box that appears when users click the text in the work history boxes */

span[data-descr] {
    position: relative;
    text-decoration: underline;
    color: black;
    cursor: grab;
  }

  span[data-descr]:hover::after  {
    content: attr(data-descr);
    position: absolute;
    left: 0px;
    bottom: 24px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    background-color: #13293d;
    padding: 12px;
    color: #fff;
    font-size: 80%;
    z-index: 1;
  }
  
/* #work-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
} */

/* Styling for boxes that the worrk images are in */
.placeholder {
  
    background-color: rgb(0, 204, 255);
    width: 400px;
    height: 400px;
    margin: 20px;
    border-color: black;
    border-radius: 6%;
    border-width: 5cm;
    text-align: center;
}

/* Styling for PROJECTS section */
.flex-container {
    display: flex;
    background-color: blue
  }
  
  .flex-container > div {
    background-color: DodgerBlue;
    color: white;
    width: 500px;
    margin: 15px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
/* Makes images bigger when hovered over */
  .flex-container img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
  }

  /* Styling for Footer/Contact ME area */
#contact h2 {
    
    text-align: center;
}

.contact-me {
    text-align: center;
}

 /* If the screen size is 600px or less, set the  <div> to 10px */
@media only screen and (max-width: 600px) {
    div {
      font-size: 10px;
    }
  }

 /* Extra small devices (phones, 600px and down) placeholder settings */
@media only screen and (max-width: 600px) {
    .placeholder {
  
        background-color: rgb(0, 204, 255);
        width: 150px;
        height: 150px;
        margin: 7.5px;
        border-color: black;
        border-radius: none;
        border-width: none;
        text-align: center;
    }
  }
 /* If the screen size is 600px or less, set the flex container to settings below*/
@media only screen and (max-width: 600px) {
    .flex-container > div {
        background-color: DodgerBlue;
        color: white;
        width: 200px;
        margin: 15px;
        text-align: center;
        line-height: 25px;
        font-size: 10px;
      }
  } 
  
 /* If the screen size is 600px or less, set the flex container img to below settings */
@media only screen and (max-width: 600px) {
    .flex-container > div  img {
        width: 100px;
        height: 100px;
        
      }
  } 

  /* If the screen size is 600px or less, set the hstory divs to the below settings */
@media only screen and (max-width: 600px) {
    .history, .history2 > div  img {
        width: 50px;
        height: 50px;
        
      }
  } 

/* If the screen size is 600px or less, set the p class between to settings below */
  @media only screen and (max-width: 600px) {
    .between {
       padding: 55px;
       line-height: 1;
      }
  } 